{% include 'header.html' %}
{% load staticfiles %}

<script type="text/javascript" src="{% static 'bootstrap/js/greensock/TweenMax.min.js'%}"></script>
<script src="{% static 'bootstrap/js/jquery.lettering-0.6.1.min.js' %}"></script>
<script src="{% static 'bootstrap/js/scroll.js' %}"></script>
<script src="{% static 'bootstrap/js/knob.js' %}"></script>
<script src="{% static 'bootstrap/js/custom.js' %}"></script>



 <div class="about">
<div class="container">


<p class="hello text-center">
Hello
</p>

<div class="polaroid">
<div class="col-md-4 col-md-offset-4 img-container" title="Mayank Bhola">
<img src="{%static 'images/mbhola2.jpg'%}" class="img-responsive" >
</div>
</div>
</div>

<p class="about-text-title">
[ Computer Science under grad, Tech Evangelist,
</br>
Passionate coder, Epicure, Geek, Apple fanboy ]
</p>

</div>
</br>
</br>
<p class="intro intro1 text-center" >
<span id="action1" class="big-font">I am </span></br></br> <span class="marker"><span id="mayank" class="relative">Mayank</span> <span id="bhola" class="relative"> Bhola ,</span></span> </br><span class="relative cd" id="aka">A.K.A psych0der </span> </br></br><span class="quick" id="fade1">a computer science undergrad from Delhi,India.</br></br>  </span> <span class="beb" id="fade">I like to code passionately and scavenge 
new technologies. </span>
</p>

<p class=" intro intro2 text-center" >

<span class="mank relative" id="action2"> A big time foodie ;) and wannabe connoisseur </br></br>
<span class="hnew relative big-font" id="action3">who believes food is more than just a fuel</span>


</p>

<div class=" intro intro4 text-center">

<span class="opens" id="action6"> Likes to think philosophically </br></br> And practice <span class="marker">Sarcasm</span> </span> </br></br>
<span class="quick" id="action7">True believer of theory of karma</span> </br></br>
<h5 class="intro intro4 beb relative" id="action8">What goes around comes around</br></br>
</h5>
<!-- <span class="text-center small opens" id="action9">(See the animation :p)</span> -->
</div>

<p class=" intro intro3 text-center" >

<span class="opens relative" id="action4"> I have been working on computer projects since <span class="beb">school days  </span> </br></br>
<span class="quick relative" id="action5">and know quite a few programming languages</span>
</p>

<p class="intro intro5">
<span class="fran text-center" id="fade2">Glimpse of my skill set</span></br></br>
	
	<ul class="list-inline skills relative text-center" id="skills">
  		<li><span>Web technologies </br>(HTML5,CSS3,JS)</span> </br></br><input class="knob" data-fgColor="chartreuse" data-thickness=".4" data-readOnly=true value="75" data-width="160" id="web"></li>

  		<li><span>C/C++ </span></br></br><input class="knob" data-fgColor="#79b9d3" data-thickness=".4" data-readOnly=true value="75" data-width="160" id="c"></li>

  		<li><span>Python </span></br></br><input class="knob" data-fgColor="#ff5369" data-thickness=".4" data-readOnly=true value="75" data-width="160" id="py"></li>

  		<li><span>SHELL </span></br></br><input class="knob" data-fgColor="#fff253" data-thickness=".4" data-readOnly=true value="75" data-width="160" id="shell"></li>

  		<li><span>PHP </span></br></br><input class="knob" data-fgColor="#f49d28" data-thickness=".4" data-readOnly=true value="75" data-width="160" id="php"></li>


	</ul>

</p>

<p class=" intro intro6 text-center" >

<span class="hnew relative" id="action10"> I evangelize   <span class="marker">Open Source technologies </span> </br>
<span class="quick relative" id="action11">AND</span>
</br>
<span class="frank relative" id="action12">contribute to it too</span></br>
<span class="opens relative" id="action13">Have a look at my <a href="/projects/">Projects</a></span></br>

</p>

<p class=" intro intro2 text-center" >

<span class="opens relative" id="action14"> I do write <a href="/blog/">blog</a> sometimes   </span> </br>
<span class="quick relative" id="action15">and </br >have a decent <a href="/mayankbhola-resume.pdf">resume</a> too</span>
</br></br>
<span class="opens" id="fade3"> Yes , I am avaible for development job profiles </span>
</p>





<p class=" intro intro3 bottom text-center" >

<span class="hnew relative" id="action16"> You can write to me at <span class="opens">mayankbhola@gmail.com </br> or </br> me@mayankbhola.in </span></span> </br></br>
<span class="fran relative" id="action17">and befriend me at  </span>
</p>

<ul class="list-inline relative text-center social2" id="social2">
  		<li><a href="http://facebook.com/mayank.bhola"><span class="icon-facebook icon-2x"></span></a></li>
  		<li><a href="http://twitter.com/mayankbhola"><span class="icon-twitter icon-2x"></span></a></li>
  		<li><a href="http://github.com/psych0der"><span class="icon-github icon-2x"></span></a></li>
  		<li><a href="https://plus.google.com/112375756238087315431"><span class="icon-google-plus icon-2x"></span></a></li>
  		<li><a href="http://in.linkedin.com/in/mayankbhola"><span class="icon-linkedin icon-2x"></span></a></li>
</ul>

<div class=" intro intro4 text-center">

<span class="opens" > Feel free to   </br></br> mail me <span class="marker">your</span> </span> </br></br>
<span class="quick" >valuable feedback</span> </br></br><span class="hnew">at feedback@mayankbhola.in</span></br></br>
<h5 class="intro intro4 opens relative" >:)</br></br>
</h5>
<!-- <span class="text-center small opens" id="action9">(See the animation :p)</span> -->
</div>




</div>

 </div>
 <div class="col-md-1">
 	
 </div>




{% include 'footer.html' %}