{% include 'header.html' %}
        
    <p class="lead  subtitle "><span class="subtitle-text"> Contact Me </span></p>
    <div class="container"> 
    <div class="col-md-12">


    	<ul class="list-inline contact-list text-center">
  		<li><span class="contact-container"><span class="icon-envelope icon-2x"></span></span> </br></br><span class="contact-desc text-primary">Email</span> </br><span class="sizex">mayankbhola@gmail.com</span></li>
  		<li><span class="contact-container"><span class="icon-mobile-phone icon-2x"></span></span></br></br><span class="contact-desc text-primary">Mobile</span> </br><span class="sizex">+91-9953267725</span></li>
  		<li><span class="contact-container"><span class="icon-skype icon-2x"></span></span></br></br><span class="contact-desc text-primary">Skype name</span> </br><span class="sizex">mayankbhola</span></li>

  		<li><span class="contact-container"><span class="icon-github icon-2x"></span></span></br></br><span class="contact-desc text-primary">github username</span> </br><span class="sizex">psych0der</span></li>
  			
  		</ul>










    </div>

    </div>
{% include 'footer.html' %}