</div> <!-- /wrap -->
<div id="footer" >
      <div class="container">
      <span class="pull-left signature text-muted ">
      	<a href="/playground/">Playground</a>
      </span>
        <p class="text-muted text-center">Handcrafted with love by <a href="http://github.com/psych0der">Mayank Bhola.</a></p>
      	<span class="pull-right">
      		<ul class="list-inline social-icon">

  				<li><a href="http://facebook.com/mayank.bhola"><span class="icon-facebook icon-2x"></span></a></li>
  				<li><a href="http://twitter.com/mayankbhola"><span class="icon-twitter icon-2x"></span></a></li>
  				<li><a href="http://github.com/psych0der"><span class="icon-github icon-2x"></span></a></li>
			</ul>
      	</span>

      </div>
</div>

</body>
</html>