<!DOCTYPE html>
<html>
  <head>
    <title>psych0der's Web Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
    <!-- Bootstrap -->
    {% load staticfiles %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'bootstrap/css/custom.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'bootstrap/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'pygments/tango.css' %}" rel="stylesheet" media="screen">

    <script src="{% static 'bootstrap/js/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- <script src="{% static 'bootstrap/js/pagehilighter.js' %}"></script> -->



    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
     <script type="text/javascript">
     var disqus_developer = 1; // this would set it to developer mode
    </script>

  </head>
  <body>
  
  <div id="wrap">
 
  <div class="borderd container">
  <header class="head">
  <h1 class="pull-left title-heading">
  Mayank<span class="text-muted">Bhola</span>
  </h1>

  <ul class="pull-right navbar">
  <li><a href="http://localhost:8000/about/" {%if type == "about" %} class="highlight" {%endif%}  id="Who Am I">Who Am I</a></li>
  <li><a href="http://localhost:8000/blog/" {%if type == "blog" %} class="highlight" {%endif%}>Blog</a></li>
  <li><a href="localhost:8000/work/">Work</a></li>
  <li><a href="localhost:8000/experiments/">Experiments</a></li>
  </ul>
  
  </header>
  </div>
   

 