
{% include 'header.html' %}
        
         <p class="lead subtitle"><span class="subtitle-text"> Psyh0der's Web Log</span></p>
         
        <div class="container"> 
        <p class="sub-sub-titile">Posts for &nbsp;:&nbsp; {{month|date:"M ,Y"}}</p>
        <div class="col-md-7">
        {% load pygmentify %}
        {% pygment %}
        {% if object_list.count == 0 %}

        <h4 class="text-center" style="font-size:6em;color:#ccc;font-family:arial;margin-top:80px;font-weight:bold;"> Sorry, No post found for {{month|date:"M ,Y"}}</h4>
        {% endif %}
        {% else %}
        {% for post in object_list %}
        <div class="post">
        <p class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title |capfirst}}</a></p>
        <small class="text-danger">{{ post.pub_date|date:'M d , Y' }}</small>
        
        {% autoescape off %}
                
                {{ post.text_html|truncatewords:100}}...</div>
                 
        {% endautoescape %}
  
        {% for cat in post.categories.all %}
            <span><a href="{{cat.get_absolute_url}}">#{{ cat }}</a></span>
            {% if not forloop.last %}
            ,
            {% endif %}
        {% endfor %}
        {% endif %}
        </div>
        {% endfor %}
        <br />
        <ul class="list-inline">
    {% if page_obj.has_previous %}
        <li> <a href="?page={{page_obj.previous_page_number}}">Previous</a> </li>
    {% else %}
        <li class="text-muted"> Previous</li>
    {% endif %}
    {% for page_number in paginator.num_pages %}
        {% ifequal page_number page_obj.number %}
            <li class="currentpage">{{page_number}}</li>
        {% else %}
            <li> <a href="?page={{page_number}}">{{page_number}}</a> </li>
        {% endifequal %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li> <a href="?page={{page_obj.next_page_number}}">Next</a></li>
    {% else %}
        <li class="text-muted"> Next </li>
    {% endif %}
</ul>
         </div>
         {% endpygment%}
         <div class="col-md-2">
            <!-- empty -->
         </div>

        <!-- sidebar -->
        <div class="col-md-3">
        {% include 'sidebar.html' %}
        </div>
        </br>


    </div>



{% include 'footer.html' %}