{% include 'header.html' %}
        
    <p class="lead subtitle text-danger"><span class="subtitle-text"> Playground </span></p>
    <div class="container"> 
        <div class="col-md-8">
        <i class="icon-quote-left icon-4x pull-left icon-muted"></i>
        <p class="lead text-left project-intro hnew">
		Playground contains live demo of my coding experiments, which can be displayed on web(ofcourse :p).
		Feel free to send your feedbacks to <span class="text-primary">feedback@mayankbhola.in</span>
        
		</p>


		<div class="project">
        <header class="opens"><span>Design-room</span></header>
        <div class="project-content hnew">
        <h4>Project Info : <a href="http://mayankbhola.in/projects/#design-room">Link</a> </h4>
        <a href="http://experiments.mayankbhola.in/design-room/index.php"><button type="button" class="btn btn-success">View Demo</button></a>
        </br>
        <h4>Project link : <a href="https://github.com/psych0der/design-room">Othenticator</a> </h4>
        </div>
        </div>

        <div class="project">
        <header class="opens"><span>Button Maker</span></header>
        <div class="project-content hnew">
        <h4>Project Info : <a href="http://mayankbhola.in/projects/#button-maker">Link</a> </h4>
        </br>
        <a href="http://experiments.mayankbhola.in/button-maker/index.html"><button type="button" class="btn btn-success">View Demo</button></a>
        <h4>Project link : <a href="https://github.com/psych0der/Button-maker">Button Maker</a> </h4>
        </div>
        </div>






        </div>

    </div>

{% include 'footer.html' %}