{% include 'header.html' %}
    <div class="container"> 

        <p class="lead text-danger">Psyh0der's Web Log</p>


        {% for post in posts %}
        <p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
        <p>{{ post.pub_date }}</p>
        {{ post.text }}
        
        {% endfor %}
        <br />
        {% if page.has_previous %}
        <a href="/{{ page.previous_page_number }}/">Previous Page</a>
        {% endif %}
        {% if page.has_next %}
        <a href="/{{ page.next_page_number }}/">Next Page</a>
        {% endif %}
        {% for month in months %}
            <a href="">{{ month.2}}&nbsp;{{month.0}}</a> <br />
        {% endfor %}

    </div>
{% include 'footer.html' %}